$bg-color: #f1f1f1;
$menu-bg-color:#3c505a;
//$bg-color: #f1f1f1;

$tags-bar-color: #f1f2f7;
$main-color: #41b883;
$sub-color: #2e5273;
$submenu-bg: #374b63;
$menu-hover: #1f2d3d;
$eden-card-bg: #fff;

$el-aside-bg: #556d84;
$el-aside-color: #fff;

$tag-border: #e9eaec;
$tag-color: #4c4c4c;
$tag-close: #659c84;
$tag-active-bg: #32b177;
$tag-active-color: #fff;

$scrollbar-thumb-bg: #ccc;
$scrollbar-thumb-hover-bg: #666;
$scrollbar-corner-bg: #535353;
$scrollbar-resizer-bg: #FF6E00;
$body-scrollbar-thumb-bg: #ddd;


.c-red{
    color: red;
}
.c-gray{
    color: gray;
}
.c-text-notice{
    color: #008000!important;
}
.c-black{
    color: black;
}
.c-text-gray{
    color:#80808094;
}
.bg-red {
    background: red;
}

.bg-gold {
    background: gold;
}

.bg-green {
    background: green;
}
.bg-white {
    background: white;
}
.bg-gray{
    background: gray;
}
.bg-second-gray{
    background: #c1c1c1;

}
