.el-button--medium{
    padding: 10px;
}
.el-form-item--medium{
    margin-bottom: 10px;
}
.table-bottom{
    background: #fff;
    margin: 0 1px;
    padding: 10px;
}

//
.d-flex{
    display: flex!important;
}
.justify-content-center{
    justify-content: center!important;
}
.justify-content-between{
    justify-content: space-between!important;
}
.align-items-center{
    align-items: center!important;
}
